.station-filters{
    padding: 20px;
    background-color: #8f8f8f;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 0 #000;
}

@media (min-width: 900px){
    .station-filters{
        width: 85%;
    }
}

@media (max-width: 899px){
    .station-filters{
        width: 95%;
    }
}