.main-page-title{
    text-align: center;
}

.main-page section{
    padding: 10px;
    border-bottom: 1px solid #000;
    margin: auto;
}

@media (max-width: 899px) {
    .main-page section{
        width: 90%;
    }

    .main-page footer{
        width: 100%;
    }
}

@media (min-width: 900px) {
    .main-page section{
        width: 80%;
    }

    .main-page footer{
        width: 80%;
    }
}

.main-page section p{
    text-align: center;
    margin: 0 10px 0 10px;
}

.main-page footer{
    text-align: center;
    margin: auto;
}

