.menu-link{
    text-decoration: none;
    color: wheat;
}

@media (min-width: 900px) {
    .menu-element:hover{
        box-shadow: 0 0 1px 1px #000;
        transition: 0.3s;
        background-color: #8f8f8f;
    }

    .menu-element{
        transition: 0.3s;
        padding: 10px 30px 10px 30px;
    }

    .menu-link{
        padding: 10px 30px 10px 30px;
    }
}

@media (max-width: 899px) {
    .menu-element{
        text-align: center;
        padding: 20px 50px 20px 50px;
        background-color: #a1a1a1;
    }

    .apply-animation{
        animation: move-menu-mobile 0.25s forwards;
    }

    .menu-link{
        padding: 20px 50px 20px 50px;
    }
}

@keyframes move-menu-mobile {
    0% { right: -100%; }
    100% { right: 0; }
}