@media (min-width: 900px) {
    .menu-element:hover{
        box-shadow: 0 0 1px 1px #000;
        transition: 0.3s;
        background-color: #8f8f8f;
    }

    .menu-element{
        transition: 0.3s;
        padding: 10px 30px 10px 30px;
    }

    .menu-link{
        text-decoration: none;
        padding: 10px 30px 10px 30px;
        color: wheat;
    }
}