.lines-wrapper{
    margin: 40px auto 10px auto;
    border-top: 1px solid #000;
}

.lines-inner-container{
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: center;
    gap: 10px 30px;
}

@media (min-width: 900px){
    .lines-wrapper{
        width: 80%;
    }
}

@media (max-width: 899px) {
    .lines-wrapper{
        width: 95%;
    }
}
